<div class="eventsList">
    <div class="eventsList__event" ng-repeat="event in $ctrl.events">
        <div class="event__title">
            <div class="event__date">
                {{ event.date | date: 'dd MMMM yyyy' }}
            </div>
            <div class="well well-lg well--event">
                <h4><a ui-sref="events.card({ id: event.$id })" >
                    {{ event.title }}
                </a></h4>
                <p>{{ event.abstract }}</p>
            </div>
        </div>
    </div>
</div>
