
<progress-bar text="Загрузка списка событий..." ng-if="$ctrl.progress"></progress-bar>

<div class="page page--eventsList">
    <div class="container" ng-if="!$ctrl.progress">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-12">
                <events-list-filter handlers="$ctrl.filterHandlers"></events-list-filter>
            </div>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <events-list events="$ctrl.filtredEvents"></events-list>
            </div>
        </div>
    </div>
</div>
