
<progress-bar text="Загрузка события..." ng-if="$ctrl.loadProgress"></progress-bar>

<div class="page page--eventForm" ng-hide="$ctrl.loadProgress">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <form name="event" class="form-horizontal" ng-submit="$ctrl.submit()">
                        <fieldset>
                            <legend>{{ $ctrl.id ? 'Редактирование события' : 'Добавление нового события' }}</legend>

                            <div class="form-group" ng-class="{ 'has-error' : $ctrl.isHasError('date') }">
                                <label for="date" class="col-md-2 control-label">Дата события</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="text" id="date" name="date" required class="form-control" autocomplete="off" uib-datepicker-popup="{{ $ctrl.dateFormat }}" ng-model="$ctrl.event.date" is-open="$ctrl.datePopupIsOpen" show-button-bar="false" on-open-focus="true">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" ng-click="$ctrl.openDatePopup()">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div ng-messages="event.date.$error" ng-if="$ctrl.isHasError('date')" role="alert">
                                        <div ng-message="required" class="form__message--error">Введите дату события</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : $ctrl.isHasError('time') }">
                                <label for="time" class="col-md-2 control-label">Время начала</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="time" name="time" required placeholder="11:00" ng-model="$ctrl.event.time" ng-disabled="$ctrl.disabledForm" autocomplete="off">
                                    <div ng-messages="event.time.$error" ng-if="$ctrl.isHasError('time')" role="alert">
                                        <div ng-message="required" class="form__message--error">Введите время начала события</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group" ng-class="{ 'has-error' : $ctrl.isHasError('title') }">
                                <label for="title" class="col-md-2 control-label">Заголовок</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="title" name="title" required ng-model="$ctrl.event.title" ng-disabled="$ctrl.disabledForm" autocomplete="off">
                                    <div ng-messages="event.title.$error" ng-if="$ctrl.isHasError('title')" role="alert">
                                        <div ng-message="required" class="form__message--error">Введите заголовок</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="abstract" class="col-md-2 control-label">Краткое описание</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="abstract" name="abstract" ng-model="$ctrl.event.abstract" ng-disabled="$ctrl.disabledForm" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-md-2 control-label">Подробное описание</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" id="description" name="description" rows="5" ng-model="$ctrl.event.description" ng-disabled="$ctrl.disabledForm" autocomplete="off"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="place" class="col-md-2 control-label">Место проведения</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="place" name="place" placeholder="г. Пенза, Олимпийская аллея" ng-model="$ctrl.event.place" ng-disabled="$ctrl.disabledForm" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="distances" class="col-md-2 control-label">Дистанции</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="distances" name="distances" ng-model="$ctrl.event.distances" ng-disabled="$ctrl.disabledForm" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tag" class="col-md-2 control-label">Теги</label>
                                <div class="col-md-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="tag" id="inlineRadio1" value="event" ng-model="$ctrl.event.tag"> <span class="label label-default label--md">Событие</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="tag" id="inlineRadio1" value="probeg" ng-model="$ctrl.event.tag"> <span class="label label-warning label--md">Пробег</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="tag" id="inlineRadio2" value="marathon" ng-model="$ctrl.event.tag"> <span class="label label-danger label--md">Марафон</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="tag" id="inlineRadio3" value="training" ng-model="$ctrl.event.tag"> <span class="label label-success label--md">Тренировка</span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group"></div>

                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="submit" class="btn btn-primary" ng-disabled="event.$invalid || $ctrl.disabledForm">
                                        <i class="fa fa-lg fa-spinner fa-spin" ng-if="$ctrl.saveProgress"></i> Сохранить
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-if="$ctrl.id" ng-click="$ctrl.onClickRemoveButton()" ng-disabled="$ctrl.disabledForm">
                                        <i class="fa fa-lg fa-spinner fa-spin" ng-if="$ctrl.removeProgress"></i> Удалить
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="$ctrl.onClickCancelButton()" ng-disabled="$ctrl.disabledForm">Отмена</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
