<div class="calendar">
    <div class="row">
        <div class="col-md-12">
            <div class="calendar__nav">
                <ul class="nav nav-pills nav--center">
                    <li role="presentation" ng-class="{ active: $ctrl.filterIs('events') }"><a href="#calendar/events">СОБЫТИЯ</a></li>
                    <li role="presentation" ng-class="{ active: $ctrl.filterIs('probegs') }"><a href="#calendar/probegs">ПРОБЕГИ</a></li>
                    <li role="presentation" ng-class="{ active: $ctrl.filterIs('marathons') }"><a href="#calendar/marathons">МАРАФОНЫ</a></li>
                    <li role="presentation" ng-class="{ active: $ctrl.filterIs('trainings') }"><a href="#calendar/trainings">ТРЕНИРОВКИ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <events-list></events-list>
            </div>
        </div>
    </div>
</div>
