<div>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a ui-sref="calendar.events">СОБЫТИЯ</a></li>
        <li role="presentation"><a ui-sref="calendar.probegs">ПРОБЕГИ</a></li>
        <li role="presentation"><a ui-sref="calendar.marathons">МАРАФОНЫ</a></li>
        <li role="presentation"><a ui-sref="calendar.trainings">ТРЕНИРОВКИ</a></li>
    </ul>
    <ul class="list-unstyled">
        <li>
            1
        </li>
        <li>
            2
        </li>
    </ul>
</div>
