<div class="page page--calendar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageCalendar__nav">
                    <ul class="nav nav-pills">
                        <li role="presentation" ng-class="{ active: $ctrl.filterIs('events') }">
                            <a ui-sref="calendar({ filter: 'events'})">СОБЫТИЯ</a>
                        </li>
                        <li role="presentation" ng-class="{ active: $ctrl.filterIs('probegs') }">
                            <a ui-sref="calendar({ filter: 'probegs'})">ПРОБЕГИ</a>
                        </li>
                        <li role="presentation" ng-class="{ active: $ctrl.filterIs('marathons') }">
                            <a ui-sref="calendar({ filter: 'marathons'})">МАРАФОНЫ</a>
                        </li>
                        <li role="presentation" ng-class="{ active: $ctrl.filterIs('trainings') }">
                            <a ui-sref="calendar({ filter: 'trainings'})">ТРЕНИРОВКИ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="pageCalendar__datepickers">
                    <div class="well well-lg well--datepickers">
                        <calendar-datepicker date="$ctrl.dateBegin" options="$ctrl.beginDatepickerOptions" 
                            on-change="$ctrl.onChangeDateBegin(date)"></calendar-datepicker>
                        <calendar-datepicker date="$ctrl.dateEnd" options="$ctrl.endDatepickerOptions" 
                            on-change="$ctrl.onChangeDateEnd(date)"></calendar-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="pageCalendar__eventList">
                    <progress-bar text="Загрузка списка событий..." ng-if="$ctrl.loadProgress"></progress-bar>
                    <events-list events="$ctrl.getEvents()" 
                        empty-list-message="Ничего не найдено" ng-if="!$ctrl.loadProgress"></events-list>
                </div>
            </div>
        </div>
    </div>
</div>
