<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>{{ $ctrl.event.title }}</h1>
                <p>
                    {{ $ctrl.event.date | date: 'EEEE, d MMMM yyyy' }},  {{ $ctrl.event.time }}
                </p>
                <p>{{ $ctrl.event.abstract }}</p>
                <p>
                    <a class="btn btn-primary btn-lg" ui-sref="events.card({ id: $ctrl.event.id })">
                        Узнать больше
                    </a>
                </p>
            </div>
        </div>
    </div>
<div>
