<div class="eventCard__header">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="eventCard__jumbotron">
                    <div class="eventCard__title">
                        {{ $ctrl.event.title }}
                    </div>
                    <div class="eventCard__abstract">{{ $ctrl.event.abstract }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="eventHeader__info">
        <div class="info__title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        Дата и время события
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        Место проведения
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        Организаторы
                    </div>
                </div>
            </div>
        </div>

        <div class="info__division"></div>
        
        <div class="info__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col--date">
                        <h4 class="content__item">
                            {{ $ctrl.event.date | date: 'EEEE, dd MMMM yyyy' }}, {{ $ctrl.event.time }}
                        </h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col--place">
                        <h4 class="content__item">
                            {{ $ctrl.event.place }}
                        </h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col--master">
                        <h4 class="content__item">
                            {{ $ctrl.event.master }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
