<div class="page page--about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="about__block">
                    <p class="lead text-warning">Цели и задачи</p>
                    <p><span class="">Бег в Пензе</span> - сайт и одноимённое сообщество <a href="https://vk.com/penzarun" target="_blank">ВКонтакте</a>, целью которых является информирование профессионалов и любителей бега о спортивных легкоатлетических событиях города Пенза и Пензенской бласти. А также площадка для организации совместных пробегов, тренировок, поездок на спортивные мероприятия в другие регионы России и мира.</p>
                </div>
                <div class="about__block">
                    <p class="lead text-warning">Возможности сайта</p>
                    <ul>
                        <li>Новости из мира профессионального и любительского бега Пензы и области</li>
                        <li>Календарь запланированных спортивных событий, пробегов, марафонов и тренировок</li>
                        <li>Подробная информация о спортивных событиях</li>
                        <li>Предварительная регистрация на пробег, марафон или тренировку - <em>в разработке</em></li>
                    </ul>
                </div>
                <div class="about__block">
                    <p class="lead text-warning">Организаторы пробегов</p>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <address>
                                <strong>Общество спорта "Марафон"</strong><br>
                                г. Пенза, 440058<br>
                                ул.Тепличная, 17-127<br>
                                Акжигитов Фярит Исхакович<br>
                                <abbr title="Телефон">Тел:</abbr> (8412) 93-85-56<br>
                                <abbr title="Мобильный телефон">Моб:</abbr> 8-905-016-48-97<br>
                                <abbr title="Электронная почта">Эл. почта:</abbr> <a href="mailto:#">marafon-penza@yandex.ru</a>
                            </address>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <address>
                                <strong>Сообщество любителей бега "Бег в Пензе"</strong><br>
                                Швецов Виктор Владимирович<br>
                                Группа ВКонтакте: <a target="_blank" rel="nofollow" href="https://vk.com/penzarun">vk.com/penzarun</a><br>
                                Страница в Strava: <a target="_blank" rel="nofollow" href="https://www.strava.com/clubs/penzarun">strava.com/clubs/penzarun</a><br>
                                <abbr title="Мобильный телефон">Моб:</abbr> 8-909-319-63-54<br>
                                <abbr title="Электронная почта">Эл. почта:</abbr> <a href="mailto:#">vikshv@yandex.ru</a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
</div>
