<div class="page page--home">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <jumbotron></jumbotron>
                <info></info>
            </div>
            <div class="col-md-3 text-center">
                <iframe allowtransparency frameborder='0' height='160' scrolling='no' src='https://www.strava.com/clubs/473998/latest-rides/5e3ae584f78c8ff184abbaf58d3903a52bf10f5e?show_rides=false'></iframe>
                <iframe allowtransparency frameborder='0' height='454' scrolling='no' src='https://www.strava.com/clubs/473998/latest-rides/5e3ae584f78c8ff184abbaf58d3903a52bf10f5e?show_rides=true'></iframe>
            </div>
        </div>
    </div>
</div>
