<div class="eventCard__body">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 leftBlock">
                <div class="eventCard__description" ng-if="$ctrl.event.description" ng-bind-html="$ctrl.getDescriptionHtml()"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 rightBlock">
                <div class="rightBlock__buttons">
                    <a ng-href="{{ $ctrl.provisionFileUrl }}" class="btn btn-default btn-lg btn-block" ng-if="$ctrl.provisionFileUrl">
                        <i class="fa fa-download" aria-hidden="true"></i> Положение ({{ $ctrl.getFileSize() }})
                    </a>
                    <a class="btn btn-info btn-lg btn-block" ng-if="$ctrl.startlistLength" ui-sref="events.startlist({ id: $ctrl.event.id })">
                        Список участников ({{ $ctrl.startlistLength }})
                    </a>
                </div>
                <div class="rightBlock__address">
                    <h4 class="address__title">Контакты</h4>
                    <address>
                        <div>
                            <strong>{{ $ctrl.event.master }}</strong>
                        </div>
                        <div ng-if="$ctrl.event.masterUrl">
                            <abbr title="Адрес в сети Интернет">www:</abbr> <a target="_blank" rel="nofollow" ng-href="http://www.{{ $ctrl.event.masterUrl }}">{{ $ctrl.event.masterUrl }}</a>
                        </div>
                    </address>
                    <address ng-if="$ctrl.event.masterPerson">
                        <div>
                            <strong>{{ $ctrl.event.masterPerson }}</strong>
                        </div>
                        <div ng-if="$ctrl.event.masterPhone">
                            <abbr title="Телефон">Тел:</abbr> {{ $ctrl.event.masterPhone }}
                        </div>
                        <div ng-if="$ctrl.event.masterEmail">
                            <abbr title="Электронная почта">Эл. почта:</abbr> <a href="mailto:#">{{ $ctrl.event.masterEmail }}</a>
                        </div>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
