.penzarun {
    .page.page--eventCard {
        margin-top: 0;
    }
}

.eventCard__header,
.eventCard__body {
    margin-bottom: 40px;
}

.eventCard__header {
    text-align: left;

    &--event {
        background-color: #4e5d6c;
    }

    &--training {
        background-color: #5cb85c;
    }

    &--probeg {
        background-color: #f0ad4e;
    }

    &--marathon {
        background-color: #d9534f;
    }
}

.eventCard__body {
    .body__paragraph {
        margin-bottom: 20px;
    }

    .body__title {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 8px;
    }
}

.eventCard__jumbotron {
    padding: 80px 0;
}

.eventCard__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 8px;
}

.eventCard__abstract {
    margin: 0;
    font-size: 22px;
}

.eventCard__description {
    margin: 0 0 40px 0;
    text-align: justify;
}

.eventCard__footer {
    padding-bottom: 40px;
}
