.penzarun {
    .page.page--eventCard {
        margin-top: 0;
    }
}

.eventCard__header,
.eventCard__body {
    margin-bottom: 40px;
}

.eventCard__header {
    padding: 60px 0;
    text-align: left;
}

.eventCard__header--event {
    background-color: #4e5d6c;
    background-image: linear-gradient(to bottom, #3a4958 0, #4e5d6c 100%);
    background-repeat: repeat-x;
}

.eventCard__header--training {
    background-color: #5cb85c;
    background-repeat: repeat-x;
}

.eventCard__header--probeg {
    background-color: #f0ad4e;
    background-repeat: repeat-x;
}

// .eventCard__header--info {
//     background-color: #5bc0de;
//     background-image: linear-gradient(to bottom, #5bc0de 0, #5bc0de 100%);
//     background-repeat: repeat-x;
// }

.eventCard__header--marathon {
    background-color: #d9534f;
    background-image: linear-gradient(to bottom, #ba5e5b 0, #d9534f 100%);
    background-repeat: repeat-x;
}

.eventCard__body {
}

.eventCard__title {
    font-size: 36px;
}

.eventCard__abstract {
    margin: 0;
    font-size: 22px;
}

.eventCard__description {
    margin: 0;
    text-align: justify;
}

.eventCard__footer {
    padding-bottom: 40px;
}
