
<progress-bar text="Загрузка события..." ng-if="$ctrl.loadProgress"></progress-bar>

<div class="page page--eventCard" ng-if="!$ctrl.loadProgress">
    <div class="eventCard__header eventCard__header--{{ $ctrl.event.tag }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="eventCard__jumbotron">
                        <div class="eventCard__title">{{ $ctrl.event.title }}</div>
                        <div class="eventCard__abstract">{{ $ctrl.event.abstract }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="eventCard__body">
        <div class="container">
            <div class="row" ng-if="$ctrl.event.description">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="eventCard__description">
                        <p ng-bind-html="$ctrl.event.description"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="body__paragraph">
                        <div class="body__title">Дата и время начала</div>
                        <p>{{ $ctrl.event.date | date: 'EEEE, dd MMMM yyyy' }}, {{ $ctrl.event.time }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="body__paragraph">
                        <div class="body__title">Место проведения</div>
                        <p>{{ $ctrl.event.place }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="body__paragraph">
                        <div class="body__title">Дистанции</div>
                        <p>{{ $ctrl.event.distances }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="eventCard__footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" role="group">
                            <a ui-sref="events.edit({ id: $ctrl.event.id })" class="btn btn-default" ng-if="$ctrl.getAuth()">Редактировать событие</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
