<progress-bar text="Загрузка..." ng-if="$ctrl.loadProgress"></progress-bar>

<div class="page page--newsCard" ng-if="!$ctrl.loadProgress">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header news__header">
                    <h4><span class="label label-default">{{ $ctrl.news.date | date: 'd MMMM yyyy' }}</span></h4>
                    <h2>{{ $ctrl.news.title }}</h2>
                    <div class="row">
                        <div class="col-md-10 col-sm-12">
                            {{ $ctrl.news.abstract }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-md-10 col-sm-12">
                            <div class="news__content" ng-bind-html="$ctrl.getContentHtml()"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
</div>
