html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 40px;
    margin-bottom: 200px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEUoOUk/UGFAUWE3SFgnOEgoOUk2R1cnOEgpOkopOko4SVk2R1coOUknOEg3SFkpOkpAUWE2SFj///8o/IqTAAAAAWJLR0QSe7xsAAAAATRJREFUKM9FUguShSAMa/mIqPve7v0vu0lacBygkhaSFDO3YqWWmBvmVt4dKx0f46MMzCfmiYzqZlUY0YOrs4b/UVt3ZmelX87IfJZq5iuzC63Y5fk9Mpxxw9/0rjNHucTEUNmR2ZLXHavXQHlb8ue4NacOs43Z1sfxZNaUPrLuqj2CX7kt9sjyCobChj+qh8pkeXhUDKxk8oM7AzMpGMl6lM/WDh8Rz1AAvQM39/JYU+UtFy64Dt3wyIQG/yb11a28341K9vCUEp75XQ74Urw6tDoGLX6yixY9lvPp7twucKx4/HbxICpFRn040b/q5l9kxatQXHVXV4fDzWP1M9+V6eYH547s2NgdNCltQu+l3cI5KlieUBPzP+lzdKUmhy70A4feN71Rj648+eKDQbyrdQuwf9svCbUeCDrJAAAAAElFTkSuQmCC');
}

.penzarun {
    .form__message--error {
        font-size: 12px;
        margin-top: 8px;
        color: #d9534f;
    }

    .page {
        margin-top: 30px;
    }
}

.label--md {
    font-size: 12px;
}
