<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="">
                    <p>Мы в социальных сетях</p>
                    <ul class="list-inline">
                        <li>
                            <a target="_blank" href="https://vk.com/penzarun" title="В контакте" rel="nofollow">
                                <i class="fa fa-lg fa-vk" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <p>Контакты</p>
                    <address class="footer__address">
                        <abbr title="Телефон">Тел:</abbr> 8-909-319-63-54<br>
                        <abbr title="Электронная почта">Эл. почта:</abbr> <a href="mailto:#">info@penzarun.ru</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer__centerBlock">
                    <div>
                        Penzarun · Бег в Пензе
                        <span class="hide-xs">·</span>
                        Автор и разработчик &#169; <a href="https://vk.com/vikshv">Виктор Швецов</a>
                    </div>
                    <div>
                        Style based on <a target="_blank" href="http://bootswatch.com/superhero/" rel="nofollow">Bootswatch</a>
                        <span class="hide-xs">·</span>
                        Icons from <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>
                        <span class="hide-xs">·</span>
                        Backend from <a target="_blank" href="https://console.firebase.google.com/project/project-5043437142388192252/overview" rel="nofollow">Firebase</a>
                    </div>
                    <div>
                        <a href="https://github.com/vikshv/penzarun">GitHub Project</a>
                        <span class="hide-xs">·</span>
                        <a href="https://github.com/vikshv/penzarun/issues">Issues</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
