<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="">
                    <p>Мы в социальных сетях:</p>
                    <ul class="list-inline">
                        <li class="list-inline__item">
                            <a target="_blank" href="https://vk.com/penzarun" title="В контакте" rel="nofollow">
                                <i class="fa fa-2x fa-vk" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline__item">
                            <a target="_blank" href="https://www.strava.com/clubs/penzarun" title="STRAVA" rel="nofollow">
                                <img src="./strava.jpg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="footer__contacts">
                    <p>Контакты:</p>
                    <address class="footer__address">
                        <abbr title="Телефон">Тел:</abbr> 8-909-319-63-54<br>
                        <abbr title="Электронная почта">Эл. почта:</abbr> <a href="mailto:#">vikshv@yandex.ru</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer__centerBlock">
                    &copy; Бег в Пензе · Автор и разработчик <a href="https://vk.com/vikshv">Виктор&nbsp;Швецов</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer__centerBlock">
                    Style based on <a target="_blank" href="http://bootswatch.com/superhero/" rel="nofollow">Bootswatch</a>
                    ·
                    Icons from <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>
                    ·
                    Backend from <a target="_blank" href="https://console.firebase.google.com/project/project-5043437142388192252/overview" rel="nofollow">Firebase</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer__centerBlock">
                    <a href="https://github.com/vikshv/penzarun">GitHub Project</a>
                    ·
                    <a href="https://github.com/vikshv/penzarun/issues">Issues</a>
                    <span ng-if="$ctrl.visitors">
                        · Просмотры: сегодня <span class="badge">{{ $ctrl.visitors.current }}</span>,
                        всего <span class="badge">{{ $ctrl.visitors.total }}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
